/*--------------- estructura común a todas las páginas---------------------------------  */
 *{

    /* background-color: #ffffff; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

/* .caja-logo-enlaces {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 70%;
    position: sticky;
    top:0;
    z-index:30; 
    height: 55px;
    margin-bottom: 10px;
    padding-top: 5px;
 
} */


.enlaces {
  transition: all 0.1s;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: rgb(138, 138, 138);
 
  
}

.nombre {
    font-size: 1.5em;
}


.nav-link:hover {
    color: black;
}

.navbar {
    padding: 2px;
    position: sticky;
    top: 0px;
    z-index: 20;
}



/*---------------  fin estructura común a todas las páginas---------------------------------  */

/* --------------------Galería-------------------------------------------------------------- */

.main-galeria {
    scroll-behavior: smooth;
}

.ul-container {
    display: grid;
    grid-template-columns: 1.5fr;
    grid-template-rows:1.5fr;  
    margin-left:-50px;
    margin-top: -16px;
    width: 100%;

}

.img {
   width: 42%;
   /* margin-left: 100px;
   margin-top: 20px; */
   
 }

.carrousel-2022 {
    position: sticky;
    top: 40px;
  
    
}

.carrousel-2020 {
    position:sticky;
     top: 15px;
 
}

.carrousel-2018 {
    position:sticky;
     top: 40px;
   
    
}

.img03 {
    width: 35%;
}

.img04, .img07 {
    width: 60%;
}

.li-img-container {
      
   z-index:0; 
   position: sticky;
   top:55px;
   display: flex;
   justify-content: center;
   margin-bottom: 35px;
   transition: 2s all;
     
 }


.p-epigrafe {
    display: flex;
    align-items: flex-end;
    margin-bottom:30px;
}

@media (min-width:360px){
    .img  {
        width: 90%;
        margin-top: 10%;
    }
}



@media (min-width:280px){
    .img  {
        width: 90%;
        margin-top: 10%;
    }
}

@media (min-width:550px){
    .img  {
        width: 80%;
        margin-top: 10%;
    }
}

@media (min-width:600px){
    .img  {
        width: 80%;
        margin-top: 5%;
    }
}

@media (min-width:650px){
    .img  {
        width: 70%;
        margin-top: 5%;
    }
}

@media (min-width:780px){
    .img  {
        width: 60%;
        margin-top: 3%;
    }
}

@media (min-width:910px){
    .img  {
        width: 60%;
        margin-top: 3%;
    }
}

@media (min-width:910px){
    .img  {
        width: 50%;
        margin-top: 3%;
    }
}


@media (min-width:1024px){
    .img  {
        width: 48%;
        margin: 5px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    background-color: rgb(255, 224, 224) !important;
}
}

@media (min-width:1180px){
    .img  {
        width: 42%;
        margin: 5px;
    }
    .carousel-control-prev-icon,
        .carousel-control-next-icon {
        background-color: rgb(255, 224, 224);
    }
}

 @media (min-width:280px){
        .img-2019 {
          width: 100%;
    }
        .btn-2019-2020{
            background-color: transparent;
            border: none; 
        }
} 

@media (min-width:400px){
    .img-2019 {
      width: 100%;
      margin-top: 2%;
}
    .btn-2019-2020{
        background-color: transparent;
        border: none; 
    }
} 



@media (min-width:540px){
    .img-2019 {
      width: 80%;
      margin-top: 2%;
}
    .btn-2019-2020{
        background-color: transparent;
        border: none; 
    }
} 

@media (min-width:768px){
    .img-2019 {
      width: 60%;
      margin-top: 0;
}
    .btn-2019-2020{
        border: none; 
        background-color: rgb(255, 224, 224);
    }
} 

@media (min-width:820px){
    .img-2019 {
      width: 55%;
      margin-top: 0;
}
    .btn-2019-2020{
        background-color: rgb(255, 224, 224);
       
    
    }
} 




@media (min-width:1024px){
    .img-2019 {
      width: 45%;
      margin-top: 0px;
}
    .btn-2019-2020{
        background-color: transparent;
        border: none; 
    }
}

@media (min-width:1280px){
    .img-2019 {
      width: 38%;
      margin-top: -2%;
}
    .btn-2019-2020{
        background-color: transparent;
        border: none; 
    }
}

@media (min-width:1150px){
    .img-2019 {
      width: 45%;
      margin-top: -2%;
}
    .btn-2019-2020{
        background-color: transparent;
        border: none; 
    }
}

@media (min-width:1200px){
    .img-2019 {
      width: 42%;
      margin-top: -2%;
}
    .btn-2019-2020{
        background-color: transparent;
        border: none; 
    }
}

@media (min-width:360px){
    .img-2018 {
      width: 80%;
}
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
} 

@media (min-width:390px){
    .img-2018 {
      width: 80%;
}
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
} 

@media (min-width:540px){
    .img-2018 {
      width: 70%;
}
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
}

@media (min-width:540px){
    .img-2018 {
      width: 50%;
}
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
}


@media (min-width:768px){
    .img-2018 {
      width: 45%;
}
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
}

@media (min-width:1024px){
    .img-2018 {
      width: 40%;
}
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
}

@media (min-width:120z0px){
    .img-2018 {
      width: 33%;
      margin-top: 0;
}
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
}




 /*------------------------fin GALERIA-------------------------------------------------------*/

/*-------------------------BIOGRAFIA-------------------------------------------------------- */



.container-article {
    display: grid;
    grid-template-columns: 2.9fr;
    grid-template-rows: 3fr;
    font-size: 0.8em;
}



.solo-exhibitions {
    position:sticky;
    top:50px;
    z-index: 2;
    width: 100%;
    padding: 40px;

}

.prueba {
    transition: all 5s;
}

.container-education {
    position: sticky;
    top:50px;
    z-index: 1;
    width: 100%;

}

.container-biografia {
    margin-left:15px;
    margin-bottom: 25px;
    /* position: sticky; */
    /* top: 10px; */
       
 }

/*-------------------------fin BIOGRAFIA----------------------------------------------------- */

/*------------------------ CONTACTO--------------------------------------------------------- */

.contenedor-formulario1, .contenedor-formulario2 {
    width: 70%;
}

.container-logos {
    width: 80%;
              
}

    
.container-contacto {
   margin-top: 15%;
   width: 90%;
   margin-left: 40px;

}

.body-contacto {
    background-image: url("imagenes/imagenes taller/imagenTaller2.jpg"), url("imagenes/imagenes taller/imagenTaller1.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 45%;
     
}

.boton-enviar {
    border:1px solid white;
    border-radius: 5px;
    background-color:rgb(255, 255, 255);
    height: 50%;
    display: flex;
    align-items: center;
}

.boton-enviar:hover {
    background-color: gray;
    border:2px solid gray;
    color: #ffffff;
}


.boton-enviar:active {
    background-color:rgb(255, 255, 255);
    border:2px solid rgb(255, 255, 255);
    color:gray;
} 

.logo {
    width: 60px;
}
    
.container-contacto2 {
    transition: all 2s;
}

.container-contacto2:hover {
    transform: translatey(-10%);
  
}
    /* margin-top: 0px;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    top: 10px;
    background-size: 50%;
    background-repeat: no-repeat, no-repeat; */
   



/* .contacto-foto2 {
    width: 50%;
}
 */

 /* .container-vector {
    z-index:1;
    background-color: gray;
    width: 80%;
    background: url("imagenes/imagenes taller/imagenTaller2.jpg") repeat center right;
    background-size:cover;
    display: flex;
    background-position: left top;
    margin-right: 60%;
    position: absolute;
    left: 120PX;
    background-color: #b9b9b9;


} 

.container-contacto-foto2 {
    margin-left: 50%;
    margin-top: 0;
} */


/* .container-form {
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    width: 100%;

    top: 10px;
    z-index: 0;
} */





/* .conteiner-logos-imagen{
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows:50%;
    
 
} */



/*
.caja-logos {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 0.5fr;
    margin-top: 10%;
    margin-left: 95%;
        
}

.container-vector {
    display: flex;
    justify-content: center;
    
  
}


.logo {
   margin: 3%;
   width: 20px;  
}


.vector-mail {
    width: 15px; 
    margin: 5px;

 }


.container-link-basilio {
    display: flex;
    justify-content: center;
    margin-right: 120px;
    margin-top: -18.5%;
    width: 90%;
   
}

.container-palabra {
    display: flex;
    justify-content: center;
}   

.container-link-basilio:hover {
    cursor: pointer;
      
}   
   
 .container-palabra-basilio{
    margin-right: 5px;
    

}


.container-link-basilio span {
    padding: 10px;
     animation: changeColor 3s infinite;  */
  
 

/* 

@keyframes changeColor {
   0% {
       color: transparent;
       background-color: #292929;
       transition: ease;

  
   }
   10% {
       color: rgb(228, 224, 224);
       background-color: #030118;
       transition: ease-in-out;
      

     
   }

   25% {
       color: rgb(140, 140, 168);
       background-color: rgb(139, 111, 111);
       transition: linear;

      
   }

   30% {
    background-color: rgb(85, 81, 81);
    color: rgb(189, 189, 255);
    transition: ease;
         

   }
   50% {

      color: rgb(140, 140, 168);
      background-color: rgb(5, 4, 4);
      transition: ease-in-out;
       
   }
   100% {
    background-color: rgb(29, 214, 199);
     color: rgb(248, 229, 229);
     transition: linear;
     border-radius: 30%;
     

   }
} */


/*----------------------fin CONTACTO--------------------------------------------------------- */


/*---------------------- NOVEDADES---------------------------------------------------------- */

.container-row {
    display: flex;
    justify-content:flex-end;
}


.container-novedades {
   margin-left: 10px;
}

.container-novedades h4 {
    color: rgb(206, 204, 204);
    
}

.row {
    margin-top:20px ;
}



.nav-item-novedades{
    background-color:#b9b9b9 !important; 
    border-radius: 20px;
    display: flex;
    justify-content: flex-start !important;
    position:sticky;
    top:46px;
    color: black !important;
  
}


#navbar-example2 {
    border-radius: 5px;
    display: flex;
    justify-content: center !important;
    position:sticky;
    top:46px;
    margin-left: -20px;
 
}


.nav {
    transition: all 2s;
}

.nav-link:active {
    background-color: #ffffff;
    color: black !important;
}

.nav-link:hover {
     color: rgb(143, 136, 164) !important;
    }


@media (min-width: 280px) {
    .container-novedades {
      padding-right: 25%;
    }
}

@media (max-width: 540px) {
    .container-novedades {
      
    }
}


@media (max-width: 820px) {
    .container-novedades {
        margin-bottom: 75%;
    }
  


}

@media (max-width: 912px) {
    .container-novedades {
        margin-bottom: 85%;
    }
}

@media (max-width: 912px) {
    .container-botones-novedades {
        margin-left:5%;
     
    }
}










 /*-------------------fin NOVEDADES---------------------------------------------------------- */

 /*------------------------------ TALLER----------------------------------------------------- */



/*

 .formulario-contacto {
    margin-top: 120px;
    position: absolute;
    top: 50%;

 }   

  .container-imagenes-taller article {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 100%;

 } */

/*
 .link-basilio {
     color: gray;
     padding: 10px;
     padding-left: 25px;
     display: grid;
     position: relative;
     bottom:100px;
          /* background-image: url("imagenes/imagenes taller/imagenTaller1.jpg") ; 
     display: flex;
    width: 25%;
    align-items: center;

 }


 
 .link-basilio:hover {
    animation:animaLinkBasilio 2s infinite;
    color: black;
  
       
}

@keyframes animaLinkBasilio {
    0% {
    border-top: 2px gray solid;
     
    }

    25% {   
    border-right: 2px gray solid;

    }
    
    50% {
    border-bottom:2px gray solid;

    }

    100% {
       border-top: 2px gray solid;
       border-right: 2px gray solid;
       border-bottom: 2px gray solid;
       border-left:  2px gray solid;

    } 
}

     border: 0.1px rgb(214, 200, 200) solid;
    padding: 5px;
    border-top: 0.1px rgb(214, 200, 200) solid;
    padding: 5px; */

/*------------------------fin TALLER----------------------------------------------------- */

  /*-------------------------- Tienda---------------------------------------------------- */

.container-tienda {
    gap: 15px;
    margin-top: 0px;
    color: gray;

}

.body-tienda {
    background-color: #e9e0e0;
    
}

.container-tienda {
    margin-bottom: 15px;
    margin-top: 15px;
}


.imagenes-tienda:hover {
    transform: scale(1.04); 

/* 
} */

.container-li {
    cursor: pointer;
} 

.container-li:hover .imagenes-tienda,
.container-li:hover .descripcion,
.container-li:hover {
    background-color: rgb(234, 234, 234);
    transition: all .5s;
}


.imagenes-tienda {
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;
  
     
}

.container-li {
    border: solid 1px  rgb(219, 210, 210);

}

.container-li a {
    display: flex;
    justify-content: center;

}


.container-busqueda {
    grid-row:1/4;
   
}
.container-busqueda p, .lupa {
    position: sticky;
    top:100px;
}

.boton-buscar {
    color: gray;
}

.boton-buscar:hover {
    color: black;
    cursor: pointer;
}

.lupa   {
    width:12px;
    margin-left: 5px;
}
  /*--------------------------fin Tienda---------------------------------------------------- */


