/*--------------- estructura común a todas las páginas---------------------------------  */
 *{

    background-color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

/* .caja-logo-enlaces {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 70%;
    position: sticky;
    top:0;
    z-index:30; 
    height: 55px;
    margin-bottom: 10px;
    padding-top: 5px;
 
} */


.enlaces {
  transition: all 0.1s;
  display: flex;
  justify-content: flex-end;
  
}

.nombre {
    font-size: 1.5em;
}

.enlaces {
    font-size: 0.9em;
    color: rgb(138, 138, 138);
       
}

.nav-link:hover {
    color: black;
}

.navbar {
    padding: 2px;
    position: sticky;
    top: 0px;
    z-index: 20;
}



/*---------------  fin estructura común a todas las páginas---------------------------------  */

/* --------------------Galería-------------------------------------------------------------- */

.main-galeria {
    scroll-behavior: smooth;
}

.ul-container {
    display: grid;
    grid-template-columns: 1.5fr;
    grid-template-rows:1.5fr;  
    margin-left:-50px;
    margin-top: -16px;
    width: 100%;

}

.img {
   width: 42%;
   /* margin-left: 100px;
   margin-top: 20px; */
   
 }

.carrousel-2022 {
    position: sticky;
    top: 40px;
  
    
}

.carrousel-2020 {
    position:sticky;
     top: 15px;
 
}

.carrousel-2018 {
    position:sticky;
     top: 40px;
   
    
}

.img03 {
    width: 35%;
}

.img04, .img07 {
    width: 60%;
}

.li-img-container {
      
   z-index:0; 
   position: sticky;
   top:55px;
   display: flex;
   justify-content: center;
   margin-bottom: 35px;
   transition: 2s all;
     
 }


.p-epigrafe {
    display: flex;
    align-items: flex-end;
    margin-bottom:30px;
}



 /*------------------------fin GALERIA-------------------------------------------------------*/

/*-------------------------BIOGRAFIA-------------------------------------------------------- */


.container-article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    font-size: 0.8em;
}



.container-biografia {
    margin-left: -4px;
    position: sticky;
    top: 30px;
       
 }

/*-------------------------fin BIOGRAFIA----------------------------------------------------- */

/*------------------------ CONTACTO--------------------------------------------------------- */


.conteiner-logos-imagen{
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows:50%;
    
 
}


.imagen-contacto {
    width:90%
      
}

.caja-logos {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 0.5fr;
    margin-top: 10%;
    margin-left: 95%;
        
}

.container-vector {
    display: flex;
    justify-content: center;
    
  
}


.logo {
   margin: 3%;
   width: 20px;  
}


.vector-mail {
    width: 15px; 
    margin: 5px;

 }


.container-link-basilio {
    display: flex;
    justify-content: center;
    margin-right: 120px;
    margin-top: -18.5%;
    width: 90%;
   
}

.container-palabra {
    display: flex;
    justify-content: center;
}   

.container-link-basilio:hover {
    cursor: pointer;
      
}   
   
 .container-palabra-basilio{
    margin-right: 5px;
    

}


.container-link-basilio span {
    background-color: rgb(140, 140, 168);
    padding: 10px;
    animation: changeColor 3s infinite; 
  
 
}


@keyframes changeColor {
   0% {
       color: transparent;
       background-color: #292929;
       transition: ease;

  
   }
   10% {
       color: rgb(228, 224, 224);
       background-color: #030118;
       transition: ease-in-out;
      

     
   }

   25% {
       color: rgb(140, 140, 168);
       background-color: rgb(139, 111, 111);
       transition: linear;

      
   }

   30% {
    background-color: rgb(85, 81, 81);
    color: rgb(189, 189, 255);
    transition: ease;
         

   }
   50% {

      color: rgb(140, 140, 168);
      background-color: rgb(5, 4, 4);
      transition: ease-in-out;
       
   }
   100% {
    background-color: rgb(29, 214, 199);
     color: rgb(248, 229, 229);
     transition: linear;
     border-radius: 30%;
     

   }
}


/*----------------------fin CONTACTO--------------------------------------------------------- */


 /*---------------------- NOVEDADES---------------------------------------------------------- */


 .container-article {
     padding: 5px;
     width: 95%;
     display: grid;
     grid-template-columns: 1.5fr;
     grid-template-rows: repeat(4, .3fr);
     margin-left: 15px;
 }


.novedades-imagenes {
    width: 30%;
    display: flex;
   

}

.container-novedades {
    width:100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-top: solid rgb(219, 212, 212) 1px;
    transition: all 1s;
  
}

.container-novedades:hover .parrafo-novedades,
.container-novedades:hover {
    background-color: rgb(234, 234, 234);
}

.parrafo-novedades {
    transition: all 1s;
}




.second, .fourth {
    display: flex;
    flex-direction: row-reverse;
}

.imagen2{
    width: 20%;
}

.container-novedades p {
    padding-left:  10px;
    padding-right: 10px;
}

.container-imagenes-taller {
    display: grid;
    grid-template-columns: 1fr;
   
}

 /*-------------------fin NOVEDADES---------------------------------------------------------- */

 /*------------------------------ TALLER----------------------------------------------------- */

 .container-imagenes-taller article img{
     width: 100%;
    margin-top: -10px;

 }

 .container-imagenes-taller article {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 100%;

 }


 .link-basilio {
     color: gray;
     padding: 10px;
     padding-left: 25px;
     display: grid;
     position: relative;
     bottom:100px;
          /* background-image: url("imagenes/imagenes taller/imagenTaller1.jpg") ; */
     display: flex;
    width: 25%;
    align-items: center;

 }


 
 .link-basilio:hover {
    animation:animaLinkBasilio 2s infinite;
    color: black;
  
       
}

@keyframes animaLinkBasilio {
    0% {
    border-top: 2px gray solid;
     
    }

    25% {   
    border-right: 2px gray solid;

    }
    
    50% {
    border-bottom:2px gray solid;

    }

    100% {
       border-top: 2px gray solid;
       border-right: 2px gray solid;
       border-bottom: 2px gray solid;
       border-left:  2px gray solid;

    } 
}

    /* border: 0.1px rgb(214, 200, 200) solid;
    padding: 5px;
    border-top: 0.1px rgb(214, 200, 200) solid;
    padding: 5px; */

/*------------------------fin TALLER----------------------------------------------------- */

  /*-------------------------- Tienda---------------------------------------------------- */

.container-tienda {
    /* display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 90px repeat(4, 0.6fr); */
    gap: 15px;
    margin-top: 0px;
    color: gray;

}

.container-tienda {
    margin-bottom: 15px;
    margin-top: 15px;
}


/* 
.imagenes-tienda:hover {
    transform: scale(1.04); 
} */

.container-li {
    cursor: pointer;
} 

.container-li:hover .imagenes-tienda,
.container-li:hover .descripcion,
.container-li:hover {
    background-color: rgb(234, 234, 234);
    transition: all .5s;
}


.imagenes-tienda {
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;
  
     
}

.container-li {
    border: solid 1px  rgb(219, 210, 210);

}

.container-li a {
    display: flex;
    justify-content: center;

}


.container-busqueda {
    grid-row:1/4;
   
}
.container-busqueda p, .lupa {
    position: sticky;
    top:100px;
}

.boton-buscar {
    color: gray;
}

.boton-buscar:hover {
    color: black;
    cursor: pointer;
}

.lupa   {
    width:12px;
    margin-left: 5px;
}
  /*--------------------------fin Tienda---------------------------------------------------- */


