/*-------------------------BIOGRAFIA-------------------------------------------------------- */


.container-article {
    display: grid;
    grid-template-columns: 2.9fr;
    grid-template-rows: 3fr;
    font-size: 0.8em;
}



.solo-exhibitions {
    position:sticky;
    top:50px;
    z-index: 2;
    width: 100%;
    padding: 40px;

}

.prueba {
    transition: all 5s;
}

.container-education {
    position: sticky;
    top:50px;
    z-index: 1;
    width: 100%;

}

.container-biografia {
    margin-left:15px;
    margin-bottom: 25px;
       
 }

/*-------------------------fin BIOGRAFIA----------------------------------------------------- */