
.tienda-card {
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.062);
    width: 60%;
    border-radius: 25px;

    &:hover{    
        transform: scale(1.04); 
        background-color: rgb(239, 239, 239);
    }

    .card-img-top {
        margin-top: 10px;
    }
}