
.carrousel-2018 {
  position:sticky;
   top: 40px;
  
}

.img07 {
  width: 60%;
}

/*---- Responsive imagenes galeria 2018---- */

@media (min-width:360px){
    .img-2018 {
      width: 80%;
    }
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
    } 
    
    @media (min-width:390px){
    .img-2018 {
      width: 80%;
    }
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
    } 
    
    @media (min-width:540px){
    .img-2018 {
      width: 70%;
    }
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
    }
    
    @media (min-width:540px){
    .img-2018 {
      width: 50%;
    }
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
    }
    
    
    @media (min-width:768px){
    .img-2018 {
      width: 45%;
    }
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
    }
    
    @media (min-width:1024px){
    .img-2018 {
      width: 40%;
    }
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
    }
    
    @media (min-width:1200px){
    .img-2018 {
      width: 33%;
      margin-top: 0;
    }
    .btn-2018{
        background-color: rgb(255, 224, 224);
                    
    }
    }
    
    
    
    
    