@import "../base/variables";
 
 .caja-navbar{
      background: $bc-header-gradiant;
      z-index: 1;
      position: sticky !important;
      top: 0px !important;
      width: 100% !important;
      height: 70px !important;
       }   
        .container-fluid {

        display: flex !important;
        align-items: center !important;
        justify-content: space-around;
        position: sticky;
        
        } h1 {
          font-size: 2rem;
        }
          .nav-link {
          font-size: $link-font-size !important;
          color: $general-font-color;
                         
           &:hover {
           color: darken($general-font-color,100%);
                          
            &:active {
            background:($bc-header-gradiant);
            border-radius:45px; 
            transition: all 0.1s; 
             } 
            }
            .span-boton:active {
            transform: rotate(600deg);
            border: none;
            transition: all 0.2s !important;
               
      }
     
    }
   


      

