@import "../base/variables";
 
.caja-navbar{
      background: $bc-header-gradiant; 
      padding: 2px;
      z-index: 1;
      position: sticky !important;
      top: 10px !important;
   
 
    } 
        .container-fluid {
        font-size: $brand-font-size;
        } 
          .nav-link {
          font-size: $link-font-size !important;
          color: $general-font-color;
                
           &:hover {
           color: darken($general-font-color,100%);
                          
            &:active {
            background-color:lighten($bc-header,5%);
                    } 
}       
     
    }
   

    @media (min-width:280px){

      .caja-navbar {
          background-color: rgb(255, 255, 255) !important;
          position: sticky!important;
          top: 0px;
          padding-top: 10%;
          padding-bottom: 10%;
           
      }
   
       
    @media (min-width:1000px){

      .caja-navbar {
          background-color: $bc-header !important;
          width: 100% !important;
      }

    }
  }