@import "../base/variables";
 
 .caja-navbar{
      background: $bc-header-gradiant;
      padding: 2px;
      z-index: 1;
      position: sticky !important;
      top: 0 !important;
      width: 100% !important;
      height: 70px !important;
      padding-top: 10px !important;
      padding-bottom: 5px !important;
      }   
        .container-fluid {

        display: flex !important;
        align-items: center !important;
        justify-content: space-around;
        
        } h1 {
          font-size: 2rem;
        }
          .nav-link {
          font-size: $link-font-size !important;
          color: $general-font-color;
                
           &:hover {
           color: darken($general-font-color,100%);
                          
            &:active {
            background:($bc-header-gradiant);
            border-radius:35px;  
                    } 
          }       
     
    }
   


      

