@import "../base/extends";

/* logos instagram y whatsapp sección contacto */

.container-logos {
    width: 100%;
    @extend %flexend;  
}
    .contenedor-wp-ig{
        width: 100%;
        display: flex !important;
        justify-content: space-around !important;
   
    }
      .logo {
            width: 60px;
        }
    
/* fin logos instagram y whatsapp sección contacto */    