/*--------------- estructura común a todas las páginas---------------------------------  */

*{
    font-family: 'Josefin Sans', sans-serif;
    // font-size: 1rem;
    list-style: none;
    text-decoration: none;
    margin: 0;
    
}

/*---------------  fin estructura común a todas las páginas---------------------------------  */