

/*--------------- estructura común a todas las páginas---------------------------------  */

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    
} .disclaimer{
    display: none;
}


/*---------------  fin estructura común a todas las páginas---------------------------------  */