
$colores:(
    "gris0":rgb(128, 127, 127),
    "gris1":#c7c7c795,
    "gris2":#b9b9b9,
    "gris3":rgb(143, 136, 164),
    "gris4":rgba(212, 177, 177, 0.555),
    "gris5":rgba(231, 220, 220, 0.413),
  
    "rosa1":#e9e0e0, 
  
    "rojo1":rgba(160, 42, 42, 0.555),
  
    "blanco0": white,
    "blanco1":rgb(255, 255, 255),
    "blanco2":rgb(239, 239, 239),
    "blanco3": rgba(255, 255, 255, 0.95),
  
    "negro0": black,
    "negro1":rgb(20, 20, 20),
    "negro2":rgba(0, 0, 0, 0.062)
);


