$bc-header:rgba(175, 167, 167, 0.808);
$brand-font-size:1em;
$link-font-size:0.9em;
$general-font-color:rgb(3, 3, 3);
$color-flechas-carrousel:rgba(255, 224, 224, 0.027);
$width-responsive:100%;
$bc-header-gradiant: linear-gradient(to left, rgba(52, 224, 18, 0.158) 15%, #743e3511 50%);
$bc-body: rgba(150, 131, 131, 0.158);


/* 
colores utilizados antes: 
$bc-header-gradiant: linear-gradient(to bottom, #cddce0 0%, #ffecf633 100%);*/
// $bc-header:rgba(238, 236, 236, 0.897);
/* $general-font-color:rgb(63, 58, 58); */
