// $brand-font-size:1em;
$link-font-size:0.9em;
$general-font-color:rgb(3, 3, 3);
$colflechas-carrousel:rgba(91, 30, 30, 0.027);
$bc-header:rgba(175, 167, 167, 0.355);
$bc-header-gradiant: radial-gradient(circle, rgba(238, 174, 202, 0.388) 0%, rgba(148, 188, 233, 0.221) 100%);
$bc-body: rgba(104, 95, 95, 0.944);
$medidaminima:200px;
$width-responsive:100%;



/* 
colores utilizados antes: 
$bc-header-gradiant: linear-gradient(to bottom, #cddce0 0%, #ffecf633 100%);*/
// $bc-header:rgba(238, 236, 236, 0.897);
/* $general-font-color:rgb(63, 58, 58); */
