@import "../../base/extends";
@import "../../base/mixins";


.container-article {
    @include displayposition(grid,2.9fr,3fr,none,none ,none);
    font-size: 0.8em;
    
    } .container-biografia {
        margin-top: 2%;
      } .solo-exhibitions {
          @extend %sticky50; 
          z-index: 2;
          width: 100%;
          padding: 40px;
         } .prueba {
            transition: all 5s;
            } .container-education {
                @extend %sticky50; 
                z-index: 1;
                width: 100%;
              } .container-biografia {
                margin-left:15px;
                margin-bottom: 25px;
                }
