@import "../../base/extends";
@import "../../base/mixins";
@import "../../base/listas";
@import "../../base/variables";

.body-biografia{
  background: $bc-gradiant5;
 
}
.container-article {
    @include displayposition(grid,2.9fr,3fr,none,none ,none);
    font-size: 0.8em;  
    // background-color: map-get($map: $colores, $key: "blanco4")

    } .container-biografia {
        margin-top: 2%;
        // background-image: url(/imagenes/imagen-contacto1.jpeg);
        // background-repeat: no-repeat;
      } .solo-exhibitions {
        @extend %sticky50; 
        z-index: 2;
        width: 100%;
        padding: 40px;
         } .prueba {
            transition: all 5s;
            } .container-education {
                @extend %sticky50; 
                z-index: 1;
                width: 100%;
              } .container-biografia {
                width: 100%;
               } .img2bio {
                width: 50%;
               } 
        
               
