@import "../../base/extends";
@import "../../base/variables";

.body-2019{
  background: $bc-gradiant4;
}
.main-galeria{
  @extend %flexcenterxy;
 }
  .carrousel-2020 {
  @extend %sticky40;
   width: 90%;
}
