@import "../../base/extends";
@import "../../base/mixins";









// .carrousel-index {
//   @include displayposition(grid, 1fr, 100%,none,none ,none);
//   @include widhtmargin(100%,none);
//   background-color: $color-flechas-carrousel !important;
//   margin-left: 5px

//      }
//       .carousel-iner {
//         @include displayposition(flex !important,none ,fixed ,none ,center !important ,center !important);
//         top: 60px !important;
//         width: 100% !important;
//         margin-top: 0px !important;
//       } .carousel-item {
//           display: flex;
//           top: 20px !important;
//       }.img-2018 {
//         width: 40% !important;
//       }       

//    .p-epigrafe {
//    @include displayposition(flex !important,none ,none ,none ,flex !important ,flex-end !important);
//    margin-bottom:30px;
   
//  }




// .carousel-item {
//       @include displayposition(flex,none,none,sticky,center ,center);
//       top:50px !important;
//       width: 100%;
//       } .img-2018 {
//         width: 30% !important; 
//         }

// .img07 {
//   width: 60%;
// }
 
    

    
    
    
    
    
    