@import "../../base/extends";

.body-contacto {
    background-image: url("../imagenes/imagenes-taller/imagenTaller2.jpg"), url("../imagenes/imagenes-taller/imagenTaller1.jpg");;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 45%;

    }.container-contacto {
      margin-top: 5%;
      width: 100%;
    }     .container-contacto2 {
          transition: all 2s;
          width: 50%;
          background-color: #c7c7c795;
          border-radius: 15px;
          @extend %flexcenterxy;
          margin-top: 0px !important;
          &:hover {
         transform: translatey(-10%);
    }
    }    

