
@import "../../base/extends";
@import "../../base/variables";

.body-novedades {
   background-color:lighten($bc-body,59%); 
    } 
       .container-row {
       @extend %flexend;     
    }
     .container-novedades {
       margin-left: 10px;
       position: sticky;
       top: 0px;
       width: 100%;
       z-index: -1 ;
    }
      .container-novedades h4 {
        color: #b9b9b9;        
    }
      .row {
        margin-top:20px ;
    }
 





