@import "../../base/listas";
   
   .body-tienda {
        background-color: map-get($map: $colores, $key:"rosa1");
        
    }
        .container-tienda {
            gap: 15px;
            color: map-get($map: $colores, $key:"gris3");
            margin-top: 15px;
        }


