
/*---- Responsive imagenes galeria 2018---- */

.img-2018 {
    @media (min-width:360px){
      width: 80% !important;
    }  
       @media (min-width:540px){
            width: 70% !important;
          }
            @media (min-width:768px){
                width: 45% !important;
                }
  
                @media (min-width:1024px){
                    width: 40% !important;
                }  
                
                @media (min-width:1200px){
                    width: 35% !important;
                    margin-top: 0;
                    } 
                      .btn-2018 {
                       @media (min-width:360px){
                           background-color: rgb(255, 224, 224);
                        }
                      }    
                    }
                     