@import "../../base/mixins";


  .container-tienda {
    @media (min-width: 280px) {
      @include bottom-left (2px, 1px)
    }
    
  /*   @media (min-width: 400px) {
      @include bottom-left (80%, 0px)
      
    }
    @media (min-width: 820px) {
      @include bottom-left (80%, 10%)
     
    }

    @media (min-width: 912px) {
      @include bottom-left (90%, 10%)
     
    }
    @media (min-width: 1000px) {
      @include bottom-left (5%, 15%)
      
     }
     @media (min-width: 1280px) {
     margin-left: 5%;
      
     }   */

}


