@import "../../base/mixins";

/*  ---------------------media queries form de contacto */
.container-contacto2{
          @media (min-width: 280px){ 
            @include widht-heigh-mt (80%, 80%, 10% !important);
            }
            @media (min-width: 360px) {
            @include widht-heigh-mt (80%, 100%, 10% !important);
            } 
            @media (min-width: 412px) {
            @include widht-heigh-mt (80%, 120%, 5% !important);
            } 
            @media (min-width: 576px) {
            @include widht-heigh-mt (100%, 80%, 20% !important);
            } 
            @media (min-width: 646px) {
              @include widht-heigh-mt (80%, 80%, 20% !important);
              } 
            @media (min-width: 768px) {
              @include widht-heigh-mt (80%, 460px, 20% !important);
              }                
            @media (min-width: 912px) {
            @include widht-heigh-mt (70%, 500px, 20% !important);
            }
            @media (min-width: 1024px) {
            @include widht-heigh-mt (65%, 500px, 2% !important);
            }    
            @media (min-width: 1280px) {
            @include widht-heigh-mt (60%, 380px, 0 !important); 
            }    
            @media (min-width: 1300px) {
              @include widht-heigh-mt (70%, 500px, 0 !important); 
              }       
            .contenedor-wp-ig {
              @media (min-width:375px){
              display:flex;
              justify-content: space-around !important;
              width: 100%;
            }     
                               
              .logo{
               @media (min-width: 360px) {
               width:130%; 
               margin: 20%;             
               } 
               @media (min-width: 576px){
               width: 40%;
               }    
               @media (min-width: 768px){
               width: 50%;
               }
               @media (min-width: 894px){
               width: 50%;
               } 
               @media (min-width: 1024px){}
               width: 50%;
               } 
               @media (min-width: 1280px) {
               width: 50%;
               } 
               } 
               .logo-tele {
                @media (min-width: 280px){
                  width:25%;
                  margin-top: 4%;
                  }
                  @media (min-width: 360px){
                    width:30px;
                    margin-top: 5px;
                    }

                @media (min-width: 375px){
                  width:30px;
                  margin-top: 5px;
                  }
                  @media (min-width: 412px){
                    margin-top: 25%;
                    }  
                    
                  @media (min-width: 575px){
                    margin-top: 95%;
                    width: 35px;
                    }  
                @media (min-width: 768px){
                  margin-top: 50%;
                  width:38px;
                  }
                  @media (min-width: 912px){
                    margin-top: 60%;
                    width:40px;
                    }  
                    
                  @media (min-width: 800px){
                    margin-top: 65%;
                    width:40px;
                    }  
                  @media (min-width: 1280px){
                  margin-top: 55%;
                  width: 80%;
                   }
                   @media (min-width: 1300px){
                    margin-top: 70%;
                    width: 85%;
                     }  
               }
              }
                                  
        .boton-enviar {                    
          @media (min-width: 360px) {
         .container-contacto {
          height: 350px;
          }   
         @media (min-width: 768px) {
          width: 30%;
          margin-top: 4%;
          padding: 2px;
          } 
          
        }
        }
    
           
          


