@import "../../base/mixins";

    .container-article {
     @media (min-width: 280px) {
     @include bottom-left (20%, 0)
    }
    @media (min-width: 350px) {
        @include bottom-left (60%, 0)
    }
    @media (min-width: 412px) {
        @include bottom-left (75%, 0)
    }
    @media (min-width: 768px) {
        @include bottom-left (55%, 0)
    }
    @media (min-width: 912px) {
        @include bottom-left (85%, 0)
    }
    @media (min-width: 1024px) {
        @include bottom-left (5%, 0)
    }
    @media (min-width: 1280px) {
        @include bottom-left (15%, 0)
    }
       }    
        
