.container-logos, .container-row, .container-footer {
  @media (min-width: 280px) {
   @include widhtmargin (92%, 35%)
}

@media (min-width: 360px) {
    @include widhtmargin (67%, 15%)
 }


@media (min-width: 375px) {
    @include widhtmargin (80%, 20%)
 }
 @media (min-width: 390px) {
    @include widhtmargin (99%, 15%)
 }

 @media (min-width: 414px) {
    @include widhtmargin (99%, 10%)
 }

 @media (min-width: 540px) {
    @include widhtmargin (99%, 2%)
 }

 @media (min-width: 768px) {
    @include widhtmargin (99%, 2%)
 }

 @media (min-width: 820px) {
    @include widhtmargin (98%, 8%)
 }

 @media (min-width: 1024px) {
    @include widhtmargin (99%, 3%)
 }
}

.container-footer-2018 {
    @media (min-width: 280px) {
        @include widhtmargin (99%, 0)
     }
 
     @media (min-width: 768px) {
        @include widhtmargin (98%, 8%)
     }
     @media (min-width: 912px) {
        @include widhtmargin (98%, 2%)
     }
     @media (min-width: 1024px) {
        @include widhtmargin (98%, 0)
     }

}


.container-footer-2019 {
    @media (min-width: 280px) {
        @include widhtmargin (99%, 15%)
     }
     @media (min-width: 1024px) {
        @include widhtmargin (99%, 0)
     }
     @media (min-width: 1280px) {
        @include widhtmargin (99%, -10px)
     }
    }

.container-footer-biografia{
    @media (min-width: 280px) {
        @include widhtmargin (100%, 5%);
     }
     @media (min-width: 412px) {
        @include widhtmargin (100%, 4%);
}
     @media (min-width: 820px) {
        @include widhtmargin (100%, 6%);
}

}