@import "../../base/mixins";

.container-contacto2{
          @media (min-width: 280px){ 
            @include widht-heigh-mt (80%, 80%, 10% !important);
            }
            @media (min-width: 360px) {
            @include widht-heigh-mt (80%, 100%, 10% !important);
            } 
            @media (min-width: 412px) {
            @include widht-heigh-mt (80%, 120%, 5% !important);
            } 
            @media (min-width: 576px) {
            @include widht-heigh-mt (100%, 80%, 20% !important);
            }                
            @media (min-width: 768px) {
            @include widht-heigh-mt (70%, 130%, 20% !important);
            }
            @media (min-width: 1024px) {
            @include widht-heigh-mt (65%, 100%, 2% !important);
            }    
            @media (min-width: 1280px) {
            @include widht-heigh-mt (70%, 100%, 0 !important); 
            }                               
              .logo{
               @media (min-width: 360px) {
               width:130%;              
               } 
               @media (min-width: 576px){
               width: 40%;
               }    
               @media (min-width: 768px){
               width: 50%;
               }
               @media (min-width: 894px){
               width: 50%;
               } 
               @media (min-width: 1024px){}
               width: 50%;
               } 
               @media (min-width: 1280px) {
               width: 50%;
               } 
               } 
                                  
                            
         @media (min-width: 360px) {
        .boton-enviar {
         width: 30%;
          } 
         @media (min-width: 360px) {
        .container-contacto {
         height: 350px;
         }   
        }
    }
           
          


